[submodule "media/Cauldron-Media"]
	path = media/Cauldron-Media
	url = https://github.com/GPGPU-Desigh-Agents/Cauldron-Media.git
[submodule "libs/Cauldron"]
        path = libs/Cauldron
        url = ../Cauldron.git
        branch = WorkGraphComputeRasterizer